<!-- Card frames buscados (Visible solo al buscar) -->
<div id="frame-buscado" class="d-flex mx-auto col-10 col-md-7">
    <div class="card text-white bg-dark mx-auto">
        <!-- <img src="./errBusqueda.gif" class="card-img-top" alt="Sin Frame disponible"> -->
        <div class="card-body">
            <p class="card-text">Lo que buscas posiblemente no existe, de momento... :(</p>
        </div>
    </div>
</div>

<div class="d-flex mt-2 mx-auto col-8 justify-content-center">
    <button id="boton-volver" class="btn  btn-outline-success" onClick="history.back()">Volver</button>
</div>